.root {
  position: relative;
  width: 100vw;
  height: 100dvh;
  color: white;
  background: black;
}

.overlay {
  text-align: center;
  white-space: nowrap;
}

.overlay h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.overlay p {
  font-size: 14px;
}

.link {
  position: absolute;
  left: 50%;
  bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  padding: 8px 16px;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  transform: translateX(-50%);
}

@media screen and (min-width: 576px) {
  .overlay h1 {
    font-size: 3rem;
  }

  .overlay p {
    font-size: 16px;
  }
}
